@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-brand: #00a19a;
  --color-dark: #001819;
  --color-light: #fafafa;
  --color-white: #ffffff;
  --color-gray: #868681;
}

/* For all browsers */
/* html {
  scrollbar-gutter: stable;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

body {
  background-color: #fffdfa;
}

/* body::-webkit-scrollbar {
  display: none;
} */

.font-anta {
  font-family: var(--font-anta);
}

.custom-pagination .swiper-pagination-bullet {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #bff3ef; /* light mint */
  background: transparent;
  opacity: 1;
  transition: all 0.35s ease;
}

/* Center dot (hidden initially) */
.custom-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  inset: 50%;
  width: 8px;
  height: 8px;
  background: var(--color-brand);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.35s ease;
}

/* Active state */
.custom-pagination .swiper-pagination-bullet-active {
  width: 26px;
  height: 26px;
  border-color: var(--color-brand);
}

/* Show center dot on active */
.custom-pagination .swiper-pagination-bullet-active::after {
  transform: translate(-50%, -50%) scale(1);
}

/*  */
.testimonial-pagination .swiper-pagination-bullet {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--color-brand); /* light mint */
  background: transparent;
  opacity: 1;
  transition: all 0.35s ease;
}

/* Center dot (hidden initially) */
.testimonial-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  inset: 50%;
  width: 8px;
  height: 8px;
  background: var(--color-brand);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.35s ease;
}

/* Active state */
.testimonial-pagination .swiper-pagination-bullet-active {
  width: 26px;
  height: 26px;
  border-color: var(--color-brand);
}

/* Show center dot on active */
.testimonial-pagination .swiper-pagination-bullet-active::after {
  transform: translate(-50%, -50%) scale(1);
}

/* RUN SVG ANIMATION */
.run-icon {
  animation: run-bounce 0.9s infinite ease-in-out;
}

.run-leg {
  transform-origin: top center;
  animation: leg-move 0.6s infinite alternate ease-in-out;
}

.run-body {
  animation: body-tilt 0.6s infinite alternate ease-in-out;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 8s linear infinite;
}

@keyframes run-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5px);
  }
}

@keyframes leg-move {
  from {
    transform: rotate(6deg);
  }
  to {
    transform: rotate(-6deg);
  }
}

@keyframes body-tilt {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

/* Event Card */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Add to cart modal */
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}

/* paused by default */
.animate-marquee {
  animation: marquee 6s linear infinite;
  animation-play-state: paused;
}

/* play only on group hover */
.group:hover .animate-marquee {
  animation-play-state: running;
}

/* Counter BG Animation */

/* Destination Icon Animated */

/* Journey BG Shape Animation */

/* Testimonial BG Animation */
/* Slow background movement */
.testimonial-path {
  animation: testimonialDash 18s linear infinite;
}

@keyframes testimonialDash {
  to {
    stroke-dashoffset: -220;
  }
}

/* Soft dot pulse */
.testimonial-dot {
  opacity: 0.4;
  animation: testimonialPulse 3.5s ease-in-out infinite;
}

.testimonial-dot.delay {
  animation-delay: 1.8s;
}

@keyframes testimonialPulse {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.55;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

/* Show Animation */

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Icon Flow Animation */
@keyframes wave {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  70% {
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-wave {
  animation: wave 2.5s ease-out infinite;
}

@keyframes play {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Arrow Indicate */
@keyframes arrowIndicate {
  0% {
    transform: translateX(0);
    opacity: 0.6;
  }
  50% {
    transform: translateX(-12px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0.6;
  }
}

.animate-arrow-indicate {
  animation: arrowIndicate 1.6s ease-in-out infinite;
}
.animate-play {
  animation: play 0.6s ease-in-out;
}

@keyframes call {
  0% {
    transform: rotate(0deg) scale(1);
  }
  20% {
    transform: rotate(10deg) scale(1.05);
  }
  40% {
    transform: rotate(-10deg) scale(1.05);
  }
  60% {
    transform: rotate(6deg) scale(1.03);
  }
  80% {
    transform: rotate(-6deg) scale(1.03);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}

.animate-call {
  animation: call 1.5s ease-in-out infinite;
}

/* Team */
.animate-spin-slow {
  animation: spin 12s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hover Me */
.button {
  width: 120px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #dd6395;
  border-radius: 5px;

  font-size: 16px;
  text-decoration: none;
  color: #dd6395;
  background: transparent;

  transition: all 0.5s ease;
  cursor: pointer;
}

/* btn-style503 hover effect */
.button:hover {
  box-shadow:
    inset 5em 0 0 0 #dd7e2a,
    inset -5em 0 0 0 #dd7e2a;
  border-color: #dd7e2a;
  color: #ffffff;
}
